@model MyApp.Models.University
<h2>Add new Deatails of pg</h2>
@using (Html.BeginForm()){
    <div>
        @Html.DisplayNameFor(m=>m.RegNo)
        @Html.EditorFor(m=>m.RegNo)
    </div>

    <div>

        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.City)
        @Html.EditorFor(m=>m.City)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.FamousCourse)
        @Html.EditorFor(m=>m.FamousCourse)
    </div>
<input type="submit" value="Add Data"/>
<br>
}