
@model IEnumerable<MyApp.Models.University>
<H1>Details Of University</H1>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m=>m.Id)</th>
        <th>@Html.DisplayNameFor(m=>m.RegNo)</th>
        <th>@Html.DisplayNameFor(m=>m.Name)</th>
        <th>@Html.DisplayNameFor(m=>m.City)</th>
        <th>@Html.DisplayNameFor(m=>m.FamousCourse)</th>
        <th>ActionLink</th>
    </tr>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Id</td>
                <td>@item.RegNo</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.FamousCourse</td>
                <td><a asp-controller="University" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"/>Edit&nbsp
                <a asp-controller="University" asp-action="Delete" asp-route-id="@item.Id" class ="btn btn-danger"/>Delete&nbsp</td>
            </tr>
        }
    </tbody>
</table>
<div>
<a asp-controller="University" asp-action="Create" asp-route-id="Add Data" />Add
</div>