@model IEnumerable<pgweb.Models.pg>
<H1>All Details PG</H1>
<table class="table">
<tr>
<th>@Html.DisplayNameFor(m=>m.pgId)</th>
<th>@Html.DisplayNameFor(m=>m.Name)</th>
<th>@Html.DisplayNameFor(m=>m.RomeNo)</th>
<th>@Html.DisplayNameFor(m=>m.Rent)</th>
<th>@Html.DisplayNameFor(m=>m.Adresss)</th>
</tr>
<tbody>
@foreach(var item in Model){
    <td>@item.pgId</td>
    <td>@item.Name</td>
}
</tbody>
</table>

