@model IEnumerable<Register.Models.Register>
<H1>Details of User</H1>
<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(m=>m.RegisterId)
        <th>@Html.DisplayNameFor(m=>m.Name)
        <th>@Html.DisplayNameFor(m=>m.Email)
        <th>@Html.DisplayNameFor(m=>m.Age)
        <th>@Html.DisplayNameFor(m=>m.Password)
        
    </tr>
</table>